/*Import des variables*/
@import "../utils/_variables.scss";

/*Import des mixin*/
@import "../base/_base.scss";

/*Import des polices*/
@import "../vendors/_fonts.scss";

/*Import des keyframes*/
@import "../components/components.scss";

/*Retrait de marge interne à la page*/
*{
    margin: 0;
}

#white_bg{
    background-color: white;
}

body{
    width: 100%;
    margin: auto;
}

header{
    padding: 1% 0;
    @include text($color: $color-secondary, $font-size: 2.7em);
}

/*Position fixe du footer et ajout de marge pour une meilleure visibilité sur la page*/
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    @include display_sp_bt;
}

.m_left{
    margin-left: 5px;
}
.m_right{
    margin-right: 5px;
}

/*Mixin avec argument (couleur principale)*/
.background{

    @include background

}

/*Mixin pour centrer si besoin et changer la couleur du texte (couleur secondaire)*/
.text--yellow{
    
    @include text($color: $color-secondary, $font-size: 1.5em);
}

/*Retrait des puces des listes*/
ul li{
    list-style: none;
}

/*Classe intégrant un Mixin de retrait des décorations de texte et augmentation (1.3 rem) de la taille de la police*/
.cleanse{
    @include cleanse;
}

/*Classe intégrant un mixin pour la mise en page du bouton prochainement et un mixin pour arrondir les bords*/
.soon{
    @include btn;
    @include border_round;
}

/*Classe intégrant un mixin -- flexbox pour la mise en page des previews*/
.skeleton{
    @include skeleton;
    @include mobile;
    
}

/*Classe intégrant un mixin pour la mise en page interne des previews des menus et ses animations*/
.preview{
    @include preview;
    @include box_shadow;

    

    &:hover .inflate{
        transform: scale(1.15);
        opacity: 0.5;
        transition: all 500ms ease-out;
    }

    
}

.inflate{
    transform: scale(1);
    opacity: 1;
}

/*Classe modifiant l'affichage des menus et des headers sur chaque page*/
.menu{

    display: flex;  
    margin: auto;

    &_col{
        @extend .menu;
        flex-direction: column;
        align-items: center;
        margin: 5% auto;
        width: 950px;
        height: 1400px;
    }; 

    &_header{
        @extend .menu;
        margin: 5% auto;
        justify-content: space-around;
    };

    &_lne{

        @include background ($color: #fcdfdb);
        font-family: 'lne';
        @include text ($color: black, $font-size: 1.5em);
    };

    &_lcalf{
        font-family: 'lcalf';
        @include text ($color: #cb7323, $font-size: 1.3em);
        @include background ($color: #fff1ff);
    };

    &_lddp{
        font-family: 'lddp';
        @include text ($color: lighten(#4675F9, 5), $font-size: 1.9em);
        @include background ($color: #f4fff8);
    };

    &_lpdg{
        font-family: 'lpdg';
        @include text ($color: lighten(#237406, 10), $font-size: 1.5em);
    };
}


.gradient{


    &_lne{

        @include color_gradient($color_start:#e14574 0%, $color_end: #f6b232 100%);

    }

    &_lcalf{
        @include color_gradient($color_start:#cb7323 0%, $color_end: #8446f9 100%);

    }

    &_lddp{
        @include color_gradient($color_start: #232BCB 0%, $color_end: #4675F9 100%)
    }

    &_lpdg{
        @include color_gradient($color_start: #237406 0%, $color_end: #CDFFCB 100%)
    }
    
}

/* Animations */ 

.moving_dot_l{
    @include dot;
    display: inline-block;
    animation: moving_dot 1.2s ease-in;
    animation-iteration-count: infinite;
    animation-delay: 1.2s;
}

.moving_dot_m{
    @include dot;
    display: inline-block;
    animation: moving_dot 1.2s ease-in;
    animation-iteration-count: infinite;
    animation-delay: 1.3s;
}

.moving_dot_r{
    @include dot;
    display: inline-block;
    animation: moving_dot 1.2s ease-in;
    animation-iteration-count: infinite;
    animation-delay: 1.4s;
}

.wiggle{

    

    &:hover{
        
        animation: shake 150ms;
        animation-iteration-count: infinite;
    }
}
