@import "../utils/_variables.scss";
@import "../base/_base.scss";

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
}
body{
    width: 100%;
    margin: auto;
}

header{
    font-size: 3.5em;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    @include display_sp_around;
}
.background{

    @include background

}

.text_yellow{
    
    @include text_yellow
}


.soon{
    @include btn;
    @include border_round;
}

.skeleton{
    @include skeleton;
}

.menu{
    @include menu;
}

