/*Import des variables*/
@import "../utils/_variables.scss";

/*Import des mixin*/
@import "../base/_base.scss";

/*Import des polices*/
@import "../vendors/_fonts.scss";


/*Retrait de marge interne à la page*/
*{
    margin: 0;
}

body{
    width: 100%;
    margin: auto;
}

header{
    font-size: 3.5em;
}

/*Position fixe du footer et ajout de marge pour une meilleure visibilité sur la page*/
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    @include display_sp_bt;
}

.m_left{
    margin-left: 5px;
}
.m_right{
    margin-right: 5px;
}

/*Mixin avec argument (couleur principale)*/
.background{

    @include background

}

/*Mixin pour centrer si besoin et changer la couleur du texte (couleur secondaire)*/
.text--yellow{
    
    @include text--yellow
}

/*Retrait des puces des listes*/
ul li{
    list-style: none;
}

/*Classe intégrant un Mixin de retrait des décorations de texte et augmentation (1.3 rem) de la taille de la police*/
.bold{
    @include text--bold;
}

/*Classe intégrant un mixin pour la mise en page du bouton prochainement et un mixin pour arrondir les bords*/
.soon{
    @include btn;
    @include border_round;
}

/*Classe intégrant un mixin -- flexbox pour la mise en page des previews*/
.skeleton{
    @include skeleton;
    @include mobile;
}

/*Classe intégrant un mixin pour la mise en page interne des previews des menus*/
.preview{
    @include preview;

}

/*Classe modifiant l'affichage des menus et des headers sur chaque page*/
.menu{

    display: flex;  
    margin: auto;

    &_col{
        @extend .menu;
        flex-direction: column;
        align-items: center;
        margin: 5% auto;
        width: 600px;
        min-width: 600px;
    }; 

    &_header{
        @extend .menu;
        margin: 5% auto;
        justify-content: space-around;
    };

    &_lne{

        @include background ($color: #fcdfdb);
        font-family: 'lne';
        font-size: 2rem;
    };
}

