@charset "UTF-8";
/*Import des variables*/
/*Import des mixin*/
/*Import des polices*/
@font-face {
  font-family: "lne";
  src: url("./vendors/Fonts/devonshire-regular.ttf") format("truetype");
}
@font-face {
  font-family: "lcalf";
  src: url("./vendors/Fonts/croissantone-regular.ttf") format("truetype");
}
@font-face {
  font-family: "lddp";
  src: url("./vendors/Fonts/authentic-ratatouille.otf") format("opentype");
}
@font-face {
  font-family: "lpdg";
  src: url("./vendors/Fonts/kalam-bold.ttf") format("truetype");
}
/*Retrait de marge interne à la page*/
* {
  margin: 0;
}

#header {
  background-color: white;
}

body {
  width: 100%;
  margin: auto;
}

header {
  padding: 1% 0;
  text-align: center;
  color: #fcca46;
  font-size: 3.5em;
}

/*Position fixe du footer et ajout de marge pour une meilleure visibilité sur la page*/
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.m_left {
  margin-left: 5px;
}

.m_right {
  margin-right: 5px;
}

/*Mixin avec argument (couleur principale)*/
.background {
  background: #569c87;
}

/*Mixin pour centrer si besoin et changer la couleur du texte (couleur secondaire)*/
.text--yellow {
  text-align: center;
  color: #fcca46;
  font-size: 1.5em;
}

/*Retrait des puces des listes*/
ul li {
  list-style: none;
}

/*Classe intégrant un Mixin de retrait des décorations de texte et augmentation (1.3 rem) de la taille de la police*/
.cleanse {
  text-decoration: none;
}

/*Classe intégrant un mixin pour la mise en page du bouton prochainement et un mixin pour arrondir les bords*/
.soon {
  height: 2rem;
  width: 220px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 5px;
}

/*Classe intégrant un mixin -- flexbox pour la mise en page des previews*/
.skeleton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 50%;
  height: 900px;
  margin: auto;
  padding: 5% 0;
}
@media screen and (max-width: 799px) {
  .skeleton {
    display: flex;
    height: 35%;
    font-size: 18px;
  }
}

/*Classe intégrant un mixin pour la mise en page interne des previews des menus*/
.preview {
  width: 35%;
  height: 480px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 3%;
  box-shadow: 0px 0px 2px rgba(86, 156, 135, 0.3), 0px 0px 2px rgba(86, 156, 135, 0.3);
}
.preview:hover .inflate {
  transform: scale(1.15);
  opacity: 0.5;
  transition: all 500ms ease-out;
}

.inflate {
  transform: scale(1);
  opacity: 1;
}

/*Classe modifiant l'affichage des menus et des headers sur chaque page*/
.menu, .menu_header, .menu_col {
  display: flex;
  margin: auto;
}
.menu_col {
  flex-direction: column;
  align-items: center;
  margin: 5% auto;
  width: 600px;
  min-width: 600px;
}
.menu_header {
  margin: 5% auto;
  justify-content: space-around;
}
.menu_lne {
  background: #fcdfdb;
  font-family: "lne";
  text-align: center;
  color: black;
  font-size: 1.8em;
}
.menu_lcalf {
  font-family: "lcalf";
  text-align: center;
  color: black;
  font-size: 1.3em;
}
.menu_lddp {
  font-family: "lddp";
  text-align: center;
  color: black;
  font-size: 1.9em;
}
.menu_lpdg {
  font-family: "lpdg";
  text-align: center;
  color: black;
  font-size: 1.5em;
}

.moving_dot {
  background-color: #fcca46;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  display: inline-block;
  transition: translate ease-in-out 220ms;
}
.moving_dot:active {
  transition: translateY(0, 5px);
}

/*# sourceMappingURL=style.css.map */
