@mixin background($color: $color-primary){
    background: $color;
}

@mixin text($color: $color-secondary, $font-size){
    text-align: center;
    color: $color;
    font-size: $font-size;
}

@mixin border_round{
    border-radius: 5px;
}

@mixin btn{
    height: 2rem;
    width: 200px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
    font-weight: bold;

}


@mixin text--bold{
    font-weight: bold;
    text-decoration: none;
}

@mixin skeleton{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 900px;
    margin: auto;
    padding: 5% 0;
}

@mixin preview {
    width: 35%;
    height: 480px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 3%;
    
}

@mixin display_sp_bt {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@mixin mobile {
    @media screen and (max-width: 799px){
        display: flex;
        height: 35%;
        font-size: 18px;
    }

}

@mixin box_shadow ($color: rgba($color-primary, 0.3)){
    box-shadow: 0px 0px 2px $color, -0px -0px 2px $color;
}