@mixin background($color: $color-primary){
    background: $color;
}

@mixin text($color: $color-secondary, $font-size){
    text-align: center;
    color: $color;
    font-size: $font-size;
}

@mixin border_round{
    border-radius: 5px;
}

@mixin btn{
    height: 2rem;
    width: 220px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
    font-weight: bold;

}


@mixin cleanse{
    text-decoration: none;
}

@mixin skeleton{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 900px;
    margin: auto;
    padding: 5% 0;
}

@mixin preview {
    width: 35%;
    height: 480px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 3%;
    
}

@mixin display_sp_bt {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@mixin mobile {
    @media screen and (max-width: 799px){
        display: flex;
        height: 35%;
        font-size: 18px;
    }

}

@mixin box_shadow ($color: rgba($color-primary, 0.3)){
    box-shadow: 0px 0px 3px $color, -0px -0px 3px $color;
}

@mixin dot{
    background-color: $color-secondary;
    border-radius: 50%;
    height: $dot_size;
    width: $dot_size;
}

@mixin color_gradient($color_start, $color_end){
    
    background:-moz-linear-gradient(to right bottom, $color_start, $color_end);
    background: linear-gradient(to right bottom, $color_start, $color_end);
    background: -webkit-linear-gradient(to right bottom, $color_start, $color_end);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}